# HW4. Relational Algebra & Query Plans

## Objectives

In this homework assignment, you will review your knowledge in two different topics:

 - Relational Algebra
 - Query Processing & Optimization

This assignment has two sections, and a total of 20 points.

### Preparation

To write a relational algebra query in a cell, the cell should be a [Markdown cell](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html). You can use [LaTeX equations](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html#LaTeX-equations) in a markdown cell for required algebraic notation. Here is a list of the main operators:

* Selection ($\sigma$)
* Projection ($\pi$)
* Union ($\cup$)
* Intersect ($\cap$)
* Set Difference ($-$) 
* Cross Product ($\times$)
* Rename ($\rho$)
* Join ($\bowtie$)
* Conjunction ($\wedge$)
* Disconjunction ($\vee$)
* Greater Than or Equal To ($\geq$)
* Less Than or Equal To ($\leq$)

You may also need $_{Subscript}$ and $^{Superscript}$ in the notations you use.

Consider the same bank database you have used in homework assignments 2 and 3.
 - Customer = {<span style="text-decoration:underline">customerID</span>, firstName, lastName, income, birthDate}
 - Account = {<span style="text-decoration:underline">accNumber</span>, type, balance, branchNumber<sup>FK-Branch</sup>}
 - Owns = {<span style="text-decoration:underline">customerID</span><sup>FK-Customer</sup>, <span style="text-decoration:underline">accNumber</span><sup>FK-Account</sup>}
 - Transactions = {<span style="text-decoration:underline">transNumber</span>, <span style="text-decoration:underline">accNumber</span><sup>FK-Account</sup>, amount}
 - Employee = {<span style="text-decoration:underline">sin</span>, firstName, lastName, salary, branchNumber<sup>FK-Branch</sup>}
 - Branch = {<span style="text-decoration:underline">branchNumber</span>, branchName, managerSIN<sup>FK-Employee</sup>, budget}

## Q1: Relational Algebra (5 points)

In this assignment, we want you to write down the relational algebraic presentations for the queries you have previously written to extract data from the bank database.

1.1. Find out names of the bank branches and first name and last name of their managers.

#REPLACE WITH YOUR ANSWER#

1.2. Show account number, account type, account balance, and transaction amount of the accounts with balance higher than 100,000 and transaction amounts higher than 15000.

#REPLACE WITH YOUR ANSWER#

1.3. Show first name, last name, and income of customers whose income is at least twice the income of any customer whose lastName is Butler.

#REPLACE WITH YOUR ANSWER#

1.4. Show Customer ID, income, account numbers and branch numbers of customers with income greater than 90,000 who own an account at both London and Latveria branches.

#REPLACE WITH YOUR ANSWER#

1.5. Customer ID of customers who have an account at the New York branch, who do not own an account at the London branch and who do not co-own an account with another customer who owns an account at the London branch.

#REPLACE WITH YOUR ANSWER#

## Q2: Query Processing (15 points)

In this assignment, we want to go through the query processing steps for a query you have previously written.

2.1. (5 points). You have previously provided the SQL query to find out customer ID, first name, last name and income of customers who have income greater than $5000 and own accounts in all of the branches that Helen Morgan owns accounts in. Parse your query into a query parse tree.

<img src="ParseTree.png" alt="Parse Tree" style="width: 450px;"/>

2.2. (5 points). Convert your parse tree to the equivalent relational algebraic representation.

<img src="qp1.png" alt="RA" style="width: 450px;"/>

2.3. (3 points) Can you rewrite your query plan?

<img src="qp2.png" alt="Query Plan" style="width: 450px;"/>

#PROVIDE YOUR ARGUMENT#

2.4. (2 points) Assume you have a million records in each of the six tables above. If you need, make necessary assumptions about your storage blocks, as well as about charactristics in the bank.db. Can you enumerate the size and cost of the intermediate tables in your query plan?

#REPLACE WITH YOUR ANSWER#

## Submission

Complete the code in this notebook.Put [hw4.ipynb](hw4.ipynb) and your image files together in a zip file [hw4.zip](hw4.zip), submit it to through Canvas system to your HW4 activity. You can also include a pdf file where you can add your comments, thoughts, explanations about any of the questions.